.slider{
    padding:3%;
}

.container{
    margin: auto;
    background-color: white;
    width: 75%;
    padding: 20px;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;

}

 /*tamano cuadro*/
 ul.slider{
    position: relative;
    /*width: 800px;*/
    height: 450px;
}
@media only screen and (max-width:500px){
    ul.slider{
        position: relative;
        /*width: 800px;*/
        height: 370px;
    } 
}


ul.slider li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: white;
    transition: opacity .5s;
}
 /*tamano img*/
 ul.slider li img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
@media only screen and (max-width:500px){
    ul.slider li img{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

ul.slider li:first-child{
    opacity: 1;
}

ul.slider li:target{
    opacity:1;
}

.menu{
    text-align: center;
    margin: 20px;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a{
    display: inline-block;
    color: #333;
    text-decoration: none;
    background-color: var(--color-primary);
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}
.slider i {
    color: var(--color-primary-dark);
    font: normal normal normal 1em/1 FontAwesome;
}